<div fxFlexFill fxLayoutAlign="start stretch" fxLayout="row" class="root">
  <div fxFlex="50" fxFlexFill>
    <div class="blue" fxLayout="row" fxlayoutAlign="start stretch" fxFlexFill>
      <div fxFlex>Blue</div>
    </div>
  </div>
  <div fxFlex>
    <div class="yellow" fxLayout="column" fxlayoutAlign="start stretch" fxFlexFill>
      <div fxFlex="none" style="height: 100px;">
        <div class="red" fxLayout="row" fxlayoutAlign="start stretch" fxFlexFill>
          <div fxFlex>Red</div>
        </div>
      </div>
      <app-my-div fxFlex></app-my-div>
    </div>
  </div>
</div>

